<div class="text-container">
  <h1>Accessories</h1>
</div>
<div class="grid-container"> <!-- grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-20 -->

  <div class="item" *ngFor="let item of products" [routerLink]="['../accessories/product',item.id]">
    <div class="content">

      <div class="img-wrap">
        <img [src]="item.presentationImage" alt="product">
      </div>

      <div class="text-wrap">
        <div class="details">
          <h3>{{ item.brand }}</h3>
          <h4>{{ item.name }}</h4>
        </div>
        <div class="price">
          <p>{{ item.price }} RON</p>
        </div>
      </div>

    </div>
  </div>


</div>





