<div class="container">

  <form [formGroup]="myform">

    <h1 mat-dialog-title>Add Product Details</h1>

    <div style="display: flex; justify-content: space-between;">
      <mat-form-field>
        <mat-label>Product Name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input formControlName="price" matInput>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>

    <div style="display: flex; justify-content: space-between;">

      <mat-form-field>
        <mat-label>Category</mat-label>
        <input formControlName="category" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Subcategory</mat-label>
        <input formControlName="subcategory" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Brand</mat-label>
        <input formControlName="brand" matInput>
      </mat-form-field>
    </div>
    <div class="container mb-4 cont-img">
      <p>Presentation image</p>
      <ngx-dropzone (change)="onSelectSingleImage($event)">
        <ngx-dropzone-image-preview *ngFor="let f of prezentationFiles" [file]="f" [removable]="true"
                                    (removed)="onRemovePresentationImage(prezentationFiles[0])">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>
    <div class="container mb-4 cont-img">
      <p>Add more images for this product</p>
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-image-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>
    <!--Multi image-->
    <!-- https://stackoverflow.com/questions/51587241/how-to-upload-multiple-files-in-angular-6-with-addmore-button -->

    <div formArrayName="sizes">
      <div *ngFor="let size of sizesData.controls; let i = index" [formGroupName]="i">
        <mat-form-field>
          <mat-label>Size</mat-label>
          <input formControlName="size" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input formControlName="quantity" matInput>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeSize(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="addSize()">Add another size</button>

    <div mat-dialog-actions>
      <button mat-button (click)="closePopup()">Exit</button>
      <button mat-button (click)="addProduct()">Save</button>
    </div>

  </form>

</div>
