<form [formGroup]="myform">
  <h1 mat-dialog-title>Update Product Details</h1>
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput>
    </mat-form-field>

    <p>Presentation Image</p>
    <ngx-dropzone (change)="onSelectSingleImage($event)">
      <ngx-dropzone-image-preview *ngFor="let f of prezentationFiles" [file]="f" [removable]="true" (removed)="onRemovePresentationImage(prezentationFiles[0])">
      </ngx-dropzone-image-preview>
    </ngx-dropzone>

    <p>Additional Images for Products</p>
    <ngx-dropzone (change)="onSelect($event)">
      <ngx-dropzone-image-preview *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
      </ngx-dropzone-image-preview>
    </ngx-dropzone>

    <!-- Size and Quantity -->
    <div formArrayName="sizes">
      <div *ngFor="let size of sizesData.controls; let i = index" [formGroupName]="i">
        <mat-form-field>
          <mat-label>Size</mat-label>
          <input formControlName="size" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input formControlName="quantity" matInput>
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeSize(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="addSize()">Add Size and Quantity</button>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="closePopup()">Cancel</button>
    <button mat-button (click)="updateProduct()">Update</button>
  </div>
</form>
