<div class="table-impl">
  <section class="table-name">
      <h1>Orders</h1>
    </section>
  <section class="table_body"> <!-- "table-section" -->
      <table><!-- "tab-content" -->
        <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Product Price</th>
          <th>Shipping Option</th>
          <th>Status</th>
          <th>User ID</th>
          <th class="roller"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <td>{{ order.orderId }}</td>
          <td>{{ order.orderDate }}</td>
          <td>{{ order.productsPrice }}</td>
          <td>{{ order.shippingOption }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.userId }}</td>
          <td class="roller">
            <button mat-button (click)="openDetailsPopup(order.orderId)"><i class="fa-solid fa-info"></i>
            </button>
            <mat-menu #menu="matMenu">
              <!--            <button mat-menu-item *ngIf="user.role !== 'BUYER'" (click)="changeRole(user.id, 'BUYER')">Make BUYER-->
              <!--            </button> &lt;!&ndash; (click)="updateProductPopUp(user.id)" &ndash;&gt;-->
              <!--            <button mat-menu-item *ngIf="user.role !== 'ADMIN'" (click)="changeRole(user.id, 'ADMIN')">Make ADMIN-->
              <!--            </buttoon> &lt;!&ndash; (click)="deleteProductPopUp(user.id)" &ndash;&gt;-->
            </mat-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
    <div class="table-container">
      <div class="table-manager">
        <div>
          <label for="itemsPerPage">Items Per Page:</label>
          <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage()">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
        <div class="pagination-controller">
          <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

