<div class="container" *ngIf="this.product">

  <div *ngIf="images && images.length > 0" class="carousel-container product-images product-images-container ">
    <!--    <div class="arrow left-arrow" (click)="previousImage()"></div>-->
    <img *ngFor="let image of images; let i=index"
         [src]="image"
         [ngClass]="{'image-active': selectedIndex === i}"
         class="transition" alt="">
    <div class="arrow right-arrow" (click)="nextImage()"></div>
    <div class="arrow left-arrow" (click)="previousImage()"></div>

    <div *ngIf="indicators" class="carousel-dot-container">
    <span class="dot" *ngFor="let dot of images; let i = index"
          [ngClass]="{'active': selectedIndex === i}"
          (click)="selectedIndex = i">

    </span>
    </div>
  </div>

  <div class="product-details-container">
    <h1>Brand: {{ this.product.product.brand }}</h1>
    <h2>Name: {{ this.product.product.name }}</h2>
    <h3>Price: {{ this.product.product.price }} RON </h3>

    <h3>Sizes:</h3>
    <form> <!-- aci mergea un div-->
      <div>
        <div *ngFor="let row of sizeRows" class="sizes-container">
          <button class="size-cell" *ngFor="let size of row" [class.selected]="size === selectedSize"
                  (click)="selectSize(size)">
            {{ size.size }}
          </button>
        </div>
      </div>

      <label>Select Quantity:</label>

      <div class="container justify-content-center">
        <div class="qty-input">
          <button class="qty-count qty-count--minus" (click)="decrement()" type="button" [disabled]="!sizeSelected">-
          </button>
          <input class="product-qty" type="number" name="product-qty" [(ngModel)]="selectedQuantity" required>
          <button class="qty-count qty-count--add" (click)="increment()" type="button" [disabled]="!sizeSelected">+
          </button>
        </div>
      </div>

      <button type="submit" class="btn" (click)="addToCart()" [disabled]="!cartRegistrationForm.valid">Add to Cart
      </button>
    </form>
  </div>


</div>
<div class="details-of-the-product">
  <ul class="accordion">
    <li>
      <input type="radio" name="accordion" id="first">
      <label for="first">Details</label>
      <div class="content">
        <div>
          <h2>Description:</h2>
          <p>{{ this.product.product.description }}</p>
        </div>
        <div>
          <h2>Category:</h2>
          <p>{{ this.product.product.category }}</p>
        </div>
        <div>
          <h2>Subcategory:</h2>
          <p>{{ this.product.product.subcategory }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
