<div class="name">
  <div>Hello Admin</div>
</div>

<div class="charts">
  <div class="pie chart-container" [chart]="pieChart">

  </div>

  <div class="line chart-container" [chart]="lineChart">

  </div>
</div>

<div class="container-box">
  <div class="box">
    <h2>Title 1</h2>
    <p>1</p>
  </div>
  <div class="box">
    <h2>Title 2</h2>
    <p>2</p>
  </div>
  <div class="box">
    <h2>Title 3</h2>
    <p>3</p>
  </div>
<!--  <div class="box">-->
<!--    <h2>Title 4</h2>-->
<!--    <p>4</p>-->
<!--  </div>-->
</div>

<div class="container-box">
  <div class="box">
    <h2>Title 1</h2>
    <p>1</p>
  </div>
  <div class="box">
    <h2>Title 2</h2>
    <p>2</p>
  </div>
  <div class="box">
    <h2>Title 3</h2>
    <p>3</p>
  </div>
  <div class="box">
    <h2>Title 4</h2>
    <p>4</p>
  </div>
</div>

