<div class="name">
  <div>Hello Admin</div>
</div>

<div class="charts mb-4">
  <div class="pie chart-container" [chart]="pieChart">
  </div>

  <div class="line chart-container" [chart]="lineChart">
  </div>
</div>

<div class="container-box mb-8">
  <div class="box">
    <h2>Pending Orders NO.</h2>
    <p>24</p>
  </div>
  <div class="box">
    <h2>Delivering Orders NO.</h2>
    <p>18</p>
  </div>
  <div class="box">
    <h2>Delivered Orders NO.</h2>
    <p>76</p>
  </div>
<!--  <div class="box">-->
<!--    <h2>Title 4</h2>-->
<!--    <p>4</p>-->
<!--  </div>-->
</div>

<div class="container-box">
  <div class="box">
    <h2>Admins</h2>
    <p>3</p>
  </div>
  <div class="box">
    <h2>Delivery People</h2>
    <p>10</p>
  </div>
  <div class="box">
    <h2>Shoppers</h2>
    <p>45</p>
  </div>
<!--  <div class="box">-->
<!--    <h2>Title 4</h2>-->
<!--    <p>4</p>-->
<!--  </div>-->
</div>

