<!--<header>-->
<!--  <h3 class="logo">Dashboard</h3>-->

<!--  <nav>-->
<!--    <ul class = "nav_links">-->

<!--      <li><a routerLink="/dashboard/home">Home</a></li>-->
<!--      <li><a href="#">Statistics</a></li>-->
<!--      <li><a routerLink="/dashboard/product">Products</a></li>-->

<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->
<!--&lt;!&ndash;Experimental Navigation&ndash;&gt;-->
<div class="container-navbar">
  <div class="navigation">
    <ul>
      <li>
        <a routerLink="#">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="title">Dashboard, Hi "Admin"</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/product">
          <span class="icon"><i class="fas fa-box"></i></span>
          <span class="title">Products</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/product">
          <span class="icon"><i class="fas fa-box"></i></span>
          <span class="title">Products</span>
        </a>
      </li>
    </ul>
  </div>
</div>
