<app-dashboard-nav-bar></app-dashboard-nav-bar>
<button mat-raised-button color="primary" (click)="AddProductPopUp()">Adauga Produs</button>
<p>dashboard-products works!</p>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
              <td><img [src]="product.presentationImage" alt="Product Image" style="width: 100px; height: 100px;"></td>
              <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Edit</button>
                  <button mat-menu-item (click)="deleteProductPopUp(product.id)">Delete</button>
                </mat-menu>
            </tr>
        </tbody>
    </table>
</div>
