.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
