<div class="login-container text-center">

  <h2>Login</h2>

  <div class="container text-center">

    <label for="username">Username:</label>
    <input type="text"
           class = "form-control"
           id="username"
           formControlName="username">

    <!--    <div *ngIf="loginForm.get('username')">-->
    <!--      Username: {{ loginForm.get('username')?.value }}-->
    <!--    </div>-->
    <br>

    <label for="password">Password:</label>
    <input type="password"
           class = "form-control"
           id="password"
           formControlName="password">

    <!--    <div *ngIf="loginForm.get('password')">-->
    <!--      Password: {{ loginForm.get('password')?.value }}-->
    <!--    </div>-->

    <br>

    <div class="button-container">
      <button class="btn btn-primary"
              type="button">Reset</button>

      <!-- pana nu completez in amn2 fieldurile, nu pot sa dau login  [disabled]="!loginForm.valid"  -->
      <button class="btn btn-primary"
              type="button"
              [disabled]="!loginForm.valid">Login</button>

      <button class="btn btn-primary"
              type="button"
              routerLink="/register"
              routerLinkActive="active"
              >Duma in register</button>
      <a routerLink="/register" routerLinkActive = "active"> pula mea</a>

    </div>
  </div>
</div>
