.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.container-for-basic-info{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  width:95%;
  margin-bottom: 25px;

}
.container-for-basic-info .basic-info{
  //padding: 5px;
  margin-left: 5px;
  //margin-right: 5px;
}
.container-for-basic-info .edit-info{
  top: 0;
  padding: 10px;
  right: 0;
  margin-right: 5px;
}
.edit-info .link{
  padding-top: 10px;
  color: black;
}
.edit-info .link:hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer; /* Add a pointer on hover */
}
.basic-info p{
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-style: oblique;
}
.basic-info ul li{
  color: black;
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
}
