<header>
  <div class="hero">
    <nav>
      <div>
          <i class="fa-solid fa-bars"></i>
        <h3 class="logo">Logo</h3>
      </div>

      <ul class="nav_links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/accessories">Accessories</a></li>
        <li><a routerLink="/clothing">Clothing</a></li>
        <li><a routerLink="/footwear">Footwear</a></li>
      </ul>
      <div>
        <div class="btn-group" dropdown>
          <button (click)="onSearch()" type="button" class="btn button-changer" aria-controls="dropdown-basic" href="www.google.com">
            <i class="material-icons white-icon">search</i>
          </button>
        </div>


        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn button-changer" aria-controls="dropdown-basic">
            <i class="material-icons white-icon">person</i>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right custom-dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem" *ngIf="isLoggedIn()"><a class="dropdown-item eliminate-link" href="#">
              <p>{{ (firstname | truncateName: lastname) }}</p></a></li>
            <li class="divider dropdown-divider" *ngIf="isLoggedIn()"></li>
            <li role="menuitem" *ngIf="isLoggedIn()"><a class="dropdown-item" routerLink="/user/orders/{{user.id}}"><p>
              My Orders</p></a></li> <!--<p class="text-2xl">My Orders</p>-->
            <li role="menuitem" *ngIf="isLoggedIn()"><a class="dropdown-item" routerLink="/user/address/{{user.id}}"><p>
              Addresses</p></a></li>
            <li role="menuitem" *ngIf="isLoggedIn()"><a class="dropdown-item" routerLink="/user/info/{{user.id}}"><p>
              Personal Information</p></a></li><!--[routerLink]="[user, user.id]"-->
            <li class="divider dropdown-divider" *ngIf="isLoggedIn()"></li>
            <li role="menuitem" *ngIf="!isLoggedIn()"><a class="dropdown-item" routerLink="/sign-in"><p>Sign in</p></a>
            </li>
            <li role="menuitem" *ngIf="isLoggedIn()"><a class="dropdown-item" routerLink="/sign-in" (click)="signOut()">
              <p>Sign out</p></a></li>
          </ul>
        </div>

        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn button-changer" aria-controls="dropdown-basic" routerLink="/checkout">
            <i class="material-icons white-icon">shopping_cart</i>
          </button>
        </div>
      </div>
    </nav>

  </div>

</header>


