@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

li, a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}
hero{
  width: 100%;
  min-height: 100vh;
  background: black;
}
//bara de navigare
nav{
  background: black;
  width: 100%;
  padding: 10px 5% 0px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.cart_icon,
.user_icon {
  color: white;
}

//logou
.logo{
  color: white;
  font-size: 30px;
  font-weight: 700;
}
//iconitele
nav div{
  display: flex;
  list-style: none;
}
//linkurile din centru

.nav_links{ //nav ul
  width: 100%;
  text-align: center;
}
.nav_links li{ //nav ul li
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.nav_links li a{ //nav ul li a
  text-decoration: none;
  color: white;
}

.white-icon {
  filter: brightness(0) invert(1);
}
/// lasa doar imaginea
button-changer{
  border: none;
  background: none;
}

.custom-dropdown-menu {
  background-color: white;
  color: black;
  width: auto !important; /* Allow menu width to fit content */
}

.custom-dropdown-menu .dropdown-item {
  display: inline-block;
  width: auto;
  color: black !important; /* Set item text color */
}
.eliminate-link{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: inherit;
}
//marime text dropdown user
.dropdown-menu{
  position: absolute;
}
///
.nav_links {
  display: none;
}

/* Show the nav_links at more than 768px */
@media (min-width: 900px) {
  .nav_links {
    display: block;
  }

}
/* Default styling for the icon */
.fa-bars {
  display: none; /* Hide the icon by default */
  font-size: 24px; /* Adjust font size as needed */
  margin-right: 10px; /* Optional: Add margin for spacing */
  color: white;
}

/* Media query for screens smaller than 900px */
@media (max-width: 899px) {
  .fa-bars {
    display: inline-block; /* Display the icon when screen size is 899px or smaller */
    margin-top: 2px;
  }
}











