<header>
  <h3 class="logo">Logo</h3>

  <nav>
    <ul class = "nav_links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Recomand</a></li>
      <li><a href="#">Clothing</a></li>
      <li><a href="#">Footware</a></li>
    </ul>
  </nav>

  <ul>
    <a class = "cta" href="#"><img class = "images" src="https://www.svgrepo.com/show/509654/glass3.svg" alt="image"></a>
    <a class = "cta" href="#"><img class = "images" src="../../../assets/images/heart-svgrepo-com.svg" alt="image"></a>
    <a class = "cta" href="#"><img class = "images" src="../../../assets/images/magnifier-glass-svgrepo-com.svg" alt="image"></a>
    <a class = "cta" href="#"><img class = "images" src="../../../assets/images/cart-shopping-svgrepo-com.svg" alt="image"></a>
  </ul>


</header>
