<div class="login-container text-center">
  <h2>Login</h2>
  <div class="container text-center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <br>

      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <br>

      <label for="firstname">Firstname:</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstname">
      <br>

      <label for="lastname">Lastname:</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname">
      <br>

      <div class="button-container">
        <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>
  </div>
</div>
